<!-- <div>
  <input type="text" [(ngModel)]="search" placeholder="Search">

</div> -->
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img
          src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
          height="15"
          alt="MDB Logo"
          loading="lazy"
        />
      </a>
      <!-- Left links -->
      <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
        </li>
      </ul> -->
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <a class="text-reset me-3" href="#">
        <i class="fas fa-shopping-cart"></i>
      </a>

      <!-- Notifications -->
      <!-- <div class="dropdown">
        <a
          class="text-reset me-3 dropdown-toggle hidden-arrow"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fas fa-bell"></i>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" >Some news</a>
          </li>
          <li>
            <a class="dropdown-item" >Another news</a>
          </li>
          <li>
            <a class="dropdown-item" >Something else here</a>
          </li>
        </ul>
      </div> -->
      <!-- Avatar -->
      <div class="dropdown">
        <a
          class="dropdown-toggle d-flex align-items-center hidden-arrow"

          id="navbarDropdownMenuAvatar"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle"
            height="25"
            alt="Black and White Portrait of a Man"
            loading="lazy"
          />
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <li>
            <a class="dropdown-item">My profile</a>
          </li>
          <li>
            <a class="dropdown-item">Settings</a>
          </li>
          <li>
            <a class="dropdown-item">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<div class="wrap" >
  <div class="search fixed-top">
     <input type="text" [(ngModel)]="search" class="searchTerm" placeholder="Search" style="margin-bottom: 466px;">
     <button type="submit" class="searchButton">
       <i class="fa fa-search"></i>
    </button>
  </div>
</div>

<div class="d-flex mr-4" style="margin-top: 130px;">
  <div class="selector" *ngFor="let medicine of(medicineList | filter:search:'medName')"

 >

    <label for="happy-radio" class="happy-card" style="margin: 30px;">
      <span (click)="showDetail(medicine)">

      <h1>{{ medicine.medName }}</h1>

      <ul>
        <!-- <li>Medicine Id:{{ medicine.medicineId }}</li>
        <li>Expiry Date:{{ medicine.medExpDate }}</li>
        <li>Stock:{{ medicine.medStock }}</li> -->
         <!-- <img alt={{medicine.medImage}}> -->
        <img src={{medicine.medImage}} style="height: 110px;
        width: 130px;
        margin: 10px;" >
      </ul>
      </span>
      <div>
        <p>₹{{ medicine.medPrice }}</p>

        <button
          class="btn btn-success"
          style="margin-left: 50px; background-color: #1e4f38; margin-top: 8px"
          type="button"
        >
          Add to cart
        </button>

      </div>
    </label>
  </div>
</div>


