<div class="bg-img">
  <div class="container">
    <div class="topnav">
      <a [routerLink]="['../../Login']" class="previous">&laquo; Back</a>

      <a [routerLink]="['../medicine']">Medicine</a>
      <a [routerLink]="['../supplier']">Supplier</a>
      <a [routerLink]="['../../About']">Contact</a>
      <a [routerLink]="['../../About']">About</a>
    </div>
    <div class="bg-text">
      <h1>Welcome, Admin!</h1>
      <p>Medico Pharmacy Management Software with Pharmacy Billing

       </p>
    </div>
  </div>
</div>
